body {
	background:url('../images/background.png');
}

.container {
	margin-bottom: 30px;
}

h1 {
	text-align: center;
}

.jumbotron {
	background-image:url(../images/tracks.jpg);
	min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}

#panel {
	background-color: red;
}